/* About.css */
.about-container {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 2.5rem;
}

.about-container-left {
  width: 40%;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.about-image {
    max-width: 50%;
    margin-top: 4rem; 
    height: auto;
    border-radius: 2rem;

}

.about-container-right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    height: 100vh;
    padding-top: 7rem;
    padding-right: 8rem;
}

.about-name {
  color: #C19D23;
  font-size: 2.25rem;
  font-family: "Libre Baskerville", serif; /* If you used libre before */
  display: flex;
  justify-content: start;
  opacity: 0.7;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.about-description {
  color: #171616;
  font-family: sans-serif;
  
}

.about-description p {
  text-align: justify;
  font-size: 0.875rem;
  opacity: 0.8;
}
.about-education-container {
     background-color: #ffffff;
    display: flex;
    
    box-shadow: 0px 0px 3px 0px #f9edd8;
    border-radius: 5px;
    padding: 5px;
    padding-left: 12px;
  
}

.about-education-left {
  width: 50%;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  
  
}

.about-education-right {
 width: 50%;
 padding-left: 1rem;
 padding-top: 0.5rem;
}

.education-duration {
    background-color: #f1d98a;
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    color: #ffffff;
    width: max-content;
    margin-top: 0.9rem;
}

.about-education-left-details {
  display: flex;
  gap: 3rem;
  padding-top: 1rem;
  align-items: end;
}

.degree-name {
    font-size: 0.8rem;
    font-weight: 400;
  
}

.institute-name {
  font-size: 0.8rem;
  font-weight: 400;

}

.current-state {
  font-size: 13px;
  color: #bfc7c7;
}

.specilization {
  font-size: 13px;
  color: #bfc2c2;
}

.education {
  color: #C19D23;
  font-size: 1rem;
  padding-bottom: 5px;
  font-family: "Libre Baskerville", serif;
  padding-top: 2rem;
 
  opacity: 0.8;
}

/* Responcive */
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 5px;

  }

  .about-container-left{
    padding: 2rem;
  }
  .about-container-right {

    text-align: center;
            width: 100%;
        padding-top: 10px;
        padding-bottom: 2px;
  }

  .about-photo img {
    width: 100%;
    max-width: 200px;
  }

  .about-name {
    font-size: 1.5rem;

  }

  .about-description p {
    font-size: 0.875rem;
  }

  .about-education-title {
    font-size: 1.3rem;
  }

  .about-education-content {
    font-size: 0.875rem;
  }
}