/* Contact.css */

.contact-container {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}

.contact-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10rem;
}

.contact-heading-1 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
  padding-left: 2rem;
  background-color: #C19D23;
}

.contact-heading-2 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #C19D23;
  padding-left: 10rem;
  padding-top: 6rem;
}

.contact-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 4rem;
  padding-left: 10rem;
  background-color: #0000000f;
}

.contact-email-phone-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 4rem;
  gap: 1rem;
}

.contact-email {
  background-color: #f1d98a;
  font-family: "Libre Baskerville", serif;
  font-size: 1.125rem;
  
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: #ffffff;
  font-weight: bold;
}

.contact-socials-title {
  font-size: 1.5rem;
  color: white;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 0.75rem;
  opacity: 0.8;
}

.contact-socials {
  display: flex;
}

.contact-icon {
  color: white;
  margin-right: 1.25rem;
}

.contact-right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 8rem;
  margin-left: 5rem;
}

.contact-image {
  width: 100%;
  height: auto;
  max-width: 500px;
}