/* App.css */

.app-container {
  background-color: #ffffff;
  width: 100vw;
}

/* Home Section */
.section-home {
  height: 100vh;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-left {
  display: grid;
  justify-content: flex-start;
  margin-bottom: 10rem;
  color: #d4d4d8; /* zinc-300 */
  font-size: 1.875rem;
  width: 50%;
}

.home-left-inner {
  margin-left: 5rem;
  margin-bottom: 5rem;
}

/* .home-right {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.profile-image-container {
  width: 350px;
  height: 500px;
  margin-left: 2.5rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  .profile-image-container {
  width: 350px;
  height: 500px;
  margin-left: 2.5rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
}
} */

/* Common grid section spacing */
.section-grid {
  
}

/* Project title text */
.project-heading {
  margin-left: 5rem;
  color: #ffffff;
  font-size: 1.25rem;
  font-family: 'Arvo', serif;
}

/* Contact section */
.section-contact {
  height: 100vh;
  margin: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
