/* App.css */

.app-container {
  background-color: #ffffff;
  width: 100vw;
}

/* Home Section */
.section-home {
  height: 100vh;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-left {
  display: grid;
  justify-content: flex-start;
  margin-bottom: 10rem;
  color: #d4d4d8; /* zinc-300 */
  font-size: 1.875rem;
  width: 50%;
}

.home-left-inner {
  margin-left: 5rem;
  margin-bottom: 5rem;
}

/* .home-right {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.profile-image-container {
  width: 350px;
  height: 500px;
  margin-left: 2.5rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  .profile-image-container {
  width: 350px;
  height: 500px;
  margin-left: 2.5rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
}
} */


/* Project title text */
.project-heading {
  margin-left: 5rem;
  color: #ffffff;
  font-size: 1.25rem;
  font-family: 'Arvo', serif;
}

/* Common grid section spacing */
.section-grid-3 {
   /* opacity: 0;
  transform: translateY(-80px) scale(0.98);
  filter: blur(8px);
  transition: none; */
}

/* .section-grid-3.animate {
  animation: slideDownFade 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
} */



/* 3. Keyframes for the animation */
/* @keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-80px) scale(0.98);
    filter: blur(8px);
  }
  60% {
    opacity: 0.7;
    transform: translateY(10px) scale(1.01);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
} */